body {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #cfcfd1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


a:hover {
    text-decoration: none;
    color: #5b427a;
}
a img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (min-width: 992px) {
  
    .button-navi {
        color: #333;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-decoration: none;
        padding: 10px 15px;
        text-decoration: none;
        background-color: rgb(240, 238, 243); 
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-left: 15px;
        margin-right: 15px;
   display: inline-block;
       }
       .button-navi:hover {
        background-color: grey;
        text-decoration: none;
        color: white;
        
       }
       h1 {
        font-size: 22px;
       }
       h2 {
        font-size: 18px;
       }
       h3 {
        font-size: 16px;
       }
       a {
        text-decoration: none;
       }
       
    a img:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
        margin-bottom: 20px;
    
    }
}
.active {
    font-weight: bold;
}
.logo {
    width: 80px;
    height: auto;
    margin: 0 auto;
   
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2.8em;
    margin-top: 20px;
  
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    color: #313030;
    font-size: 1.8em;
    margin-top: 10px;

    padding-bottom: 20px;
}

h3 {
    
    color: #616060;
    font-size: 1.5em;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 h4 {
   
        text-align: center;
        color: #333;
        font-size: 2.5em;
        margin-top: 20px;
      
        padding-top: 20px;
        padding-bottom: 20px;
    
 }
a {
    color:black;
      
}

p {
    text-align: center;
    margin-top:5px;
    font-size: 1.2em;
    padding-top: 5px;
}

